public/xsd/appointment_1.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="appointment">
    <complexType>
      <sequence>
        <element name="id" type="integer"/>
        <element name="start_time" type="string"/>
        <element name="end_time" type="string"/>
        <element name="physician_id" type="integer"/>
        <element name="patient_id" type="integer"/>
      </sequence>
    </complexType>
  </element>
</schema>
