public/xsd/appointments.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="appointments">
    <complexType>
      <sequence>
        <element name="appointment" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element name="id" type="integer"/>
              <element name="start_time" type="string"/>
              <element name="end_time" type="string"/>
              <element name="physician_id" type="integer"/>
              <element name="patient_id" type="integer"/>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>
