public/xsd/patient.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="id" type="xs:integer"/>
               <xs:element name="primary_phy_id" type="xs:integer"/>
               <xs:element name="date_of_birth" type="xs:date"/>
               <xs:element name="pharmacy_id" type="xs:integer"/>
               <xs:element name="insurance_id" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
