public/xsd/physician.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="physician">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="id" type="xs:integer"/>
               <xs:element name="specialty" type="xs:string"/>
               <xs:element name="office_num" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
